<div class="card-panel">
<h1><%= @list.name %></h1>
<h3> Tasks: </h3>
<%= link_to "Add Task", new_list_task_path(@list) %>
<div class="card-panel hoverable">
<% @list.tasks.each do |task| %>
  <h2> <%= task.name %> </h2>
  <h4> <%= task.desc %> </h4>
  <%= link_to "Add Task", new_list_task_path(@list) %>
  <%= link_to "Delete Task", list_task_path(@list, task), method: :delete %>
  <%= link_to "Back", list_path(@list) %>
  <%= link_to "Edit Task", edit_list_task_path(@list, task) %>
  <% end %>
  </div>
  </div>

